<h1>Edit Game</h1>

<%= simple_form_for @game, :html => { :multipart => true } do |f| %>
  <%= f.select :genre_id, @genres %>
  <%= f.input :title, label: "Game Title" %>
  <%= f.input :description %>
  <%= f.input :developer %>
  <%= f.input :publisher %>
  <%= f.input :rating %>
  <%= f.button :submit %>
<% end %>
